body{
    background-color:rgb(132, 180, 194);
  }
  
  .card{
    background-color:white;
  }
  
  #submit{
    margin-top:20px;
    width:100%;
    background-color:tomato;
  }

  .btn-large{
      background-color:tomato;
  }